Repository enso-org/rust-lib, pull requests merged in 2020-10, with the labels that each got.

#6 Upgrade the CI
  .github/CODEOWNERS
  .github/settings.yml
  .github/workflows/docs.yml
  .github/workflows/rust.yml
  .gitignore
  .prettierignore
  .prettierrc.json
  README.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
  package.json
  src/enso-macro-utils/README.md
  src/enso-prelude/README.md
  src/enso-shapely/impl/README.md
  src/enso-shapely/macros/README.md
Labels: Category: Build, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#9 Add Extension Methods to Vec
  docs/release-policy.md
  src/prelude/Cargo.toml
  src/prelude/src/lib.rs
  src/prelude/src/vec.rs
Labels: Category: Prelude, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#11 Factor Out Further Changes
  src/automata/Cargo.toml
  src/automata/src/pattern.rs
  src/logger/Cargo.toml
  src/logger/src/enabled.rs
  src/prelude/Cargo.toml
  src/prelude/src/data/non_empty_vec.rs
Labels: Category: Automata, Category: Lazy Reader, Category: Prelude, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#13 Add trace utilities to prelude
  .gitignore
  rust-toolchain
  src/logger/Cargo.toml
  src/logger/src/enabled.rs
  src/logger/src/lib.rs
  src/prelude/Cargo.toml
  src/prelude/src/debug.rs
  src/prelude/src/lib.rs
Labels: Category: Prelude, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Size: Small, Type: Enhancement

#14 Fix wrong dependency version
  src/logger/Cargo.toml
Labels: Category: Logger, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Size: Small, Type: Bug

#12 Update Automata for the Enso Lexer
  src/automata/Cargo.toml
  src/automata/src/alphabet.rs
  src/automata/src/data/matrix.rs
  src/automata/src/dfa.rs
  src/automata/src/nfa.rs
  src/automata/src/pattern.rs
  src/automata/src/state.rs
  src/automata/src/symbol.rs
  src/lazy-reader/Cargo.toml
  src/lazy-reader/src/lib.rs
Labels: Category: Automata, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#15 Extract the Flexer to a Library
  .github/settings.yml
  Cargo.toml
  docs/CONTRIBUTING.md
  docs/README.md
  docs/SECURITY.md
  docs/flexer/README.md
  docs/flexer/flexer.md
  run
  src/flexer-testing/definition/Cargo.toml
  src/flexer-testing/definition/src/lib.rs
  src/flexer-testing/generation/Cargo.toml
  src/flexer-testing/generation/build.rs
  src/flexer-testing/generation/src/generated.rs
  src/flexer-testing/generation/src/generated/engine-old.rs
  src/flexer-testing/generation/src/generated/engine.rs
  src/flexer-testing/generation/src/lib.rs
  src/flexer-testing/generation/tests/flexer_generated_lexer.rs
  src/flexer/Cargo.toml
  src/flexer/README.md
  src/flexer/src/generate.rs
  src/flexer/src/group.rs
  src/flexer/src/group/rule.rs
  src/flexer/src/lib.rs
  src/flexer/tests/flexer_invalid_definitions.rs
Labels: Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#16 Add `BiInto` trait.
  src/prelude/Cargo.toml
  src/prelude/src/tp.rs
Labels: Category: Prelude, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Size: Small, Type: Enhancement

#17 Several text-related utilities
  src/data/Cargo.toml
  src/data/src/text.rs
  src/prelude/Cargo.toml
  src/prelude/src/string.rs
Labels: Category: Data, Category: Prelude, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#18 Update the Flexer
  .gitignore
  src/automata/Cargo.toml
  src/automata/src/pattern.rs
  src/flexer-testing/definition/src/lib.rs
  src/flexer-testing/generation/src/generated/engine-old.rs
  src/flexer-testing/generation/src/generated/engine.rs
  src/flexer/Cargo.toml
  src/flexer/src/generate.rs
  src/flexer/src/lib.rs
  src/flexer/tests/flexer_invalid_definitions.rs
  src/lazy-reader/Cargo.toml
  src/lazy-reader/src/lib.rs
Labels: Category: Automata, Category: Flexer, Category: Lazy Reader, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#19 Make `reader` the First Argument
  src/flexer-testing/definition/src/lib.rs
  src/flexer/Cargo.toml
  src/flexer/src/generate.rs
  src/flexer/src/lib.rs
Labels: Category: Flexer, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement
