Repository enso-org/rust-lib, pull requests merged in 2021-05, with the labels that each got.

#32 Unblock compiler update.
  .github/settings.yml
  .github/workflows/rust.yml
  docs/CONTRIBUTING.md
  rust-toolchain
  src/automata/src/nfa.rs
  src/automata/src/pattern.rs
  src/data/Cargo.toml
  src/data/benches/bench_tree_query.rs
  src/data/src/diet.rs
  src/data/src/hash_map_tree.rs
  src/data/src/lib.rs
  src/data/src/opt_vec.rs
  src/data/src/text.rs
  src/flexer-testing/definition/src/lib.rs
  src/flexer-testing/generation/build.rs
  src/flexer/src/generate.rs
  src/flexer/src/group.rs
  src/flexer/src/lib.rs
  src/flexer/tests/flexer_invalid_definitions.rs
  src/generics/src/lib.rs
  src/generics/src/tuple.rs
  src/logger/src/lib.rs
  src/macro-utils/src/lib.rs
  src/prelude/Cargo.toml
  src/prelude/src/lib.rs
  src/prelude/src/option.rs
  src/prelude/src/string.rs
  src/prelude/src/vec.rs
  src/shapely/impl/Cargo.toml
  src/shapely/impl/src/generator.rs
  src/shapely/impl/src/lib.rs
  src/shapely/impl/tests/derivation.rs
  src/shapely/macros/src/derive_clone_ref.rs
  src/shapely/macros/src/derive_iterator.rs
  src/shapely/macros/src/lib.rs
  src/shapely/macros/src/overlappable.rs
Labels: Category: Automata, Category: Build, Category: Data, Category: Macro Utils, Category: Optics, Category: Prelude, Category: Shapely, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Low, Size: Small, Type: Enhancement

#39 Workaround for Clippy ICE problem
  src/prelude/Cargo.toml
  src/prelude/src/debug/logging.rs
  src/prelude/src/debug/logging/manually_expanded.rs
Labels: Category: Prelude, Change: Non-Breaking

#40 Derive Eq for Immutable
  src/prelude/Cargo.toml
  src/prelude/src/lib.rs
Labels: Category: Prelude, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement
